h1
{
    color: var(--text-color);
    font-size: 40px;
    font-family: var(--font-title);
    font-weight: bold;
    text-align: center;
}

/* O mnie */
section#about-me
{
    background-color: var(--second-color);
    display: flex;
    justify-content: center;
    position: relative;
}
section#about-me div
{
    width: 100vh;
    opacity: 0;
    transform: translateY(40px); 
    animation: animationStart ease-out 0.8s forwards;
}
section#about-me p
{
    font-size: 20px;
    font-family: var(--font-content);
    color: var(--description-color);
    text-align: justify;
    line-height: 1.6;
    padding: 20px;
}

/* Animacja */
@keyframes animationStart
{
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* Umiejętności */
section#skills
{
    display: flex;
    justify-content: center;
    max-height: 100vh;
    opacity: 0;
    transform: translateY(40px);
    animation: animationStart ease-out 0.8s forwards;
}
section#skills h1
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
section#skills article
{
    flex-direction: column;
}
section .cards
{
    display: flex;
    max-width: 100vh;
}
section .cards .card
{
    padding: 20px;
    display: flex;          
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    min-height: 60vh;
    max-height: 100vh;
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 2s forwards;
}
.card.fade-out
{
    opacity: 0;
    animation: fadeOut 1s forwards;
}
.card.fade-in
{
    opacity: 1;
    animation: fadeIn 1s forwards;
}
section .cards .card h3
{
    color: var(--text-color);
    font-family: var(--font-title);
    font-size: 25px;
    text-align: center;
}
section .cards .card p
{
    color: var(--description-color);
    font-family: var(--font-content);
    font-size: 20px;
    text-align: justify;
    line-height: 1.6;
}

/* Animacje */
@keyframes fadeOut
{
    from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeIn
{
    from { opacity: 0; }
    to { opacity: 1; }
}



/* Projekty */
section#my-projects
{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1vh;
    gap: 5vh;
    opacity: 0;
    transform: translateY(40px); 
    animation: animationStart ease-out 0.8s forwards;
}
section#my-projects section
{
    align-items: stretch;
    width: 150vh;
    display: flex;
    gap: 1vh;
    justify-content: center;
}
section#my-projects section .project-card
{
    background-color: var(--second-color);
    border-radius: 3vh;
    display: flex;
    flex-direction: column;
    padding: 4vh;
    justify-content: flex-start;
    width: 47vh;
    height: 100%;
}
section#my-projects section .project-card p
{
    color: var(--description-color);
    font-family: var(--font-content);
    font-size: 16px;
    text-align: justify;
    line-height: 1.6;
}
section#my-projects section .project-card h3
{
    color: var(--text-color);
    font-family: var(--font-title);
    font-size: 23px;
}
section#my-projects section .project-card:hover
{
    background-color: var(--hover-card-color);
}